.clearfix:after
        visibility: hidden
        display: block
        content: ""
        clear: both
        height: 0
        font-size: 0

.align-left
  float: left

.align-right
  float: right

.uppercase
	text-transform: uppercase

.descripton-lg, .description, .title, .read-more, .author
  font-family: 'Arial', sans-serif

.description
  font-size: 13px
  line-height: 20px

.descripton-lg
  font-size: 16px

.title
  font-size: 0.85em
  font-weight: bold

.title-icon
  color: $tortoise
  margin-right: 15px

.section-header
  margin-bottom: 16px

.logo
  display: inline-block
  font-family: 'Lato', sans-serif
  font-size: 2.7em
  transition: .2s ease
  &:hover
    transform: scale(1.2)
  .logo-link
    color: $tortoise
    b
      color: black

.thumbnails
  display: flex
  justify-content: space-between
  padding-bottom: 30px
  border-bottom: 1px solid $grey

.thumbs
  position: relative
  &:hover
    .actions
      left: 0
      top: 82px

.actions
  background-color: $tortoise
  width: 100%
  position: absolute
  left: -10000px
  font-size: 1.8em
  text-align: center
  padding: 22px 0
  opacity: .9
  a
    color: white
    margin-right: 15px
    &:last-child
      margin-right: 0

.read-more
  margin-top: 10px
  a
    color: $tortoise
    font-size: 0.7em
    &:hover
      .fa-angle-right
        transform: scale(1.5)
    .fa-angle-right
      color: black
      transition: .1s ease-in

.author
  display: inline-block
  font-size: 0.7em
  margin-top: 20px
  padding-bottom: 13px

.download-btn
  display: inline-block
  background-color: $blue
  width: 530px
  font-size: 1em
  font-weight: bold
  margin: 0 35px 0 70px
  border: 1px solid $tortoise
  border-radius: 10px
  cursor: pointer
  -webkit-box-shadow: inset 7px -154px 164px -83px rgba(51,177,204,1)
  -moz-box-shadow: inset 7px -154px 164px -83px rgba(51,177,204,1)
  box-shadow: inset 4px -27px 61px -24px #33b1cc
  transition: .2s ease-in
  &:hover
    background-color: lighten($blue, 15%)
  .fa-download
    margin-right: 10px
    color: white
