.clearfix:after
        visibility: hidden
        display: block
        content: ""
        clear: both
        height: 0
        font-size: 0

.align-left
  float: left

.align-right
  float: right

.uppercase
	text-transform: uppercase

.description
  font-size: 13px
  line-height: 20px

.title
  font-size: 0.85em
  font-weight: bold
  margin-left: 10px

.logo
  display: inline-block
  font-family: 'Lato', sans-serif
  font-size: 2.7em
  .logo-link
    color: $tortoise
    b
      color: black
