.latest-works
  font-family: 'Arial', sans-serif
  padding: 30px 0
  .fa-mouse-pointer
    margin-right: 15px
    color: $tortoise
    padding-bottom: 15px
    border-bottom: 1px solid $grey
  h2
    border-bottom: 1px solid $grey
    padding-bottom: 15px
    margin-bottom: 17px
